[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
django-rest-knox = "*"
requests-oauthlib = "*"
pylint = "*"
autopep8 = "*"
pylint-django = "*"
drf-writable-nested = "*"
django-filter = "*"
django-crispy-forms = "==1.7.2"
pytz = "==2019.1"
sqlparse = "==0.3.0"
Django = "*"
PyYAML = "*"
pip = "*"
install = "*"
django-tables2 = "*"
tablib = "*"

[requires]
python_version = "3.7"
