body,
html {
  padding: 0;
  margin: 0;
  background-color: black;
}

body.modal-open {
  overflow: inherit;
  padding-right: inherit !important;
}

.jumbotron {
  margin-top: 100px;
  margin-bottom: 0;
  height: 380px;
}

.popover-container > .popover {
  max-width: 700px;
}

.popover-container-team-lead > .popover {
  max-width: 1000px;
}

.dynamic_list_row:hover {
  color: #ffed00;
}

.section-main .row {
  margin-top: 100px;
}

.section-main .row .col {
  text-align: center;
}

.section-main .row .col h5 {
  color: white;
  line-height: 100px;
}

#icon_w_badge {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

#icon_w_badge:hover {
  color: black;
}

#ccms-btn-right {
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 25px;
}

#ccms-btn-right:hover {
  color: green;
}

#ccms-btn-left {
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
}

#ccms-btn-left:hover {
  color: green;
}

.ReactTable .rt-thead .rt-th:last-child {
  border-right: 1px solid white;
}

#section1 {
  -webkit-transition: 600ms;
  transition: 600ms;
  border-bottom: 1px solid transparent;
}

#section1:hover {
  border-color: white;
}

#section2 {
  -webkit-transition: 600ms;
  transition: 600ms;
  border-top: 1px solid transparent;
}

#section2:hover {
  border-color: white;
}

#section3 {
  -webkit-transition: 600ms;
  transition: 600ms;
  border-bottom: 1px solid transparent;
}

#section3:hover {
  border-color: white;
}

#section4 {
  -webkit-transition: 600ms;
  transition: 600ms;
  border-top: 1px solid transparent;
}

#section4:hover {
  border-color: white;
}

#image1:hover {
  max-width: 100%;
  height: auto;
}

.chart {
  border: 2px solid black;
  padding-bottom: 15px;
  -webkit-box-shadow: 5px 10px 18px gray;
          box-shadow: 5px 10px 18px gray;
}

.sidebar-main {
  min-height: 360px;
  min-width: 120px;
  margin-top: 10px;
  top: 30;
  left: 0;
  margin-bottom: 10px;
  background-color: black;
  text-align: left;
  border: 2px solid black;
}

.sidebar-main .sidebar-navitem {
  font-size: 15px;
  height: 60px;
  text-align: left;
  padding-top: 5px;
}

.sidebar-main .sidebar-navitem .sidebar-navlink {
  text-align: left;
  margin-bottom: 0;
  padding: 10px;
}

.sidebar-main .sidebar-navitem:hover .sidebar-navlink:hover {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}

a {
  color: black;
}

a:hover {
  color: white;
  opacity: 1;
}

.navbar-main {
  background-color: "black";
  padding: "20px";
  border: 1px solid white;
}

#bg-image {
  background-color: black;
}

.main .section {
  margin-bottom: 20px;
}

.survey_detail {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.survey_bb {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.btn-bb {
  color: #ffed00;
  background-color: black;
  border: none;
}

.btn-bb:hover {
  color: black;
  background-color: #ffed00;
}

.btn-filter {
  color: black;
  background-color: #ffed00;
  border: none;
}

.btn-filter:hover {
  color: #ffed00;
  background-color: black;
}

#bottombox-close:hover {
  cursor: pointer;
}

#survey-details:hover {
  -webkit-box-shadow: 5px 10px 18px gray;
          box-shadow: 5px 10px 18px gray;
}

#rca_form:hover {
  -webkit-box-shadow: 5px 10px 18px gray;
          box-shadow: 5px 10px 18px gray;
}

.card {
  border: 1px solid white;
  background-color: black;
  color: white;
}

.card .card-header {
  background-color: white;
  color: black;
}

.card .card-header h4 {
  margin: auto;
}

.card .btn-submit {
  color: black;
  background-color: #ffed00;
  border: none;
}

.card .btn-submit:hover {
  color: #ffed00;
  background-color: black;
}

.icon:hover {
  font-size: 2em;
}

#navbar-main {
  background-color: "black";
  padding: "20px";
}

.navlink {
  color: white;
  opacity: 0.5;
}

.navlink:hover {
  color: white;
  opacity: 1;
}

.ReactTable {
  text-align: center;
  color: black;
  border: 1px solid black;
}

.ReactTable .rt-thead {
  background-color: black;
  color: white;
}

.ReactTable .rt-th {
  border: 1px solid white;
}

.modal-backdrop {
  opacity: 0.3 !important;
}

.modal-main .modal-header {
  background-color: black;
  color: white;
}

.modal-main #file {
  margin-bottom: 20px;
}

.modal-main .btn-submit {
  color: black;
  background-color: #ffed00;
  border: none;
}

.modal-main .btn-submit:hover {
  color: #ffed00;
  background-color: black;
}

@media (min-width: 770px) {
  .sidebar-main {
    background-color: black;
    min-height: 100%;
    min-width: 20px;
    position: fixed;
    z-index: 1;
    margin-left: 27px;
    overflow-x: hidden;
    margin-top: 1px;
    text-align: left;
  }
  .sidebar-main .sidebar-navitem .sidebar-navlink {
    text-align: left;
  }
  .sidebar-main .sidebar-navitem:hover .sidebar-navlink:hover {
    cursor: pointer;
    text-align: left;
    margin-bottom: 0;
    padding: 10px;
    color: white;
  }
  .sidebar-navitem:hover .sidebar-navlink:hover {
    cursor: pointer;
    text-align: left;
    margin-bottom: 0;
    padding: 10px;
    color: white;
  }
  .main {
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .main .section {
    margin-left: 40px;
  }
}
/*# sourceMappingURL=main.css.map */