{% extends "cba_auth/layout.html" %} {% block content %}

<div class="container">
    <div class="row mx-auto">
        <div class="col mx-auto">
            <h1>Please select folder</h1>
        </div>
    </div>
    <div class="row mt-2 mx-auto">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Folder</label>
                    <select
                        name="select_folder"
                        class="form-control"
                        id="exampleFormControlSelect1"
                    >
                        <option value="">---------</option>
                        {% for folder in folder_list %}
                        <option value="{{folder.id}}"
                            >{{folder.displayName}}</option
                        >
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Select</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
