{% extends 'evaluation/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-8 mt-5 mb-5">
            <div class="card shadow-lg border border-dark">
                <div class="card-header">
                    <h4>Password Reset</h4>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success">Request Password Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
